{% extends "admin/base.html.twig" %}
{% block title %} Lista klientów {% endblock title %}


 {% block body %}
 <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <a href="{{path('admin_client_add')}}" class="btn w-100 btn-success"><i class="fas fa-plus"></i> Dodaj klienta</a>
            </div>
            <div class="col-12">
               {% if clients is defined %}
                   {% include "shared//clients_table.html.twig" %}
               {% endif %}
            </div>
            <div class="col-12">
                {{pagination|raw}}
            </div>
        </div>
      </section>
     
      <!--Section: Content-->
    </div>
  </main>
  <!--Main layout-->  
 {% endblock body %}
 